@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

:root {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.title_a {
    font-family: 'Noto Serif KR', serif !important;
}


.title_b {
    font-family: 'Song Myung', serif !important;
}

.the_first {
    z-index: 9999;
}

.the_second {
    z-index: 5555;
}

/* Scroll bar */
/* 스크롤바의 너비 */
::-webkit-scrollbar {
    width: 12px;
    /* 스크롤바 트랙의 둥근 테두리 반지름 */
    border-radius: 4px;
}

/* 스크롤바 트랙 배경색 */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* 스크롤바 색상 */
::-webkit-scrollbar-thumb {
    background-color: #9E9E9E;
    border-radius: 999px;
    /* 스크롤바의 둥근 테두리 반지름 */
}

/* 스크롤바 hover 시 색상 */
/* ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
} */

/* swiper */
.swiper-container {
    width: 100%;
    height: 100%;
    /* 또는 원하는 높이값 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
    color: #000;
    /* background-color: #fff; */
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

.swiper-navigation {
    display: flex;
    justify-content: space-between;
}

.main-btn-prev,
.main-btn-next  {
    display: block;
    position: absolute;
    top: 35%;
    z-index: 1;
    margin-bottom: 20px;
    background-color: transparent;
}

.main-btn-prev::after,
.main-btn-next::after  {
    display: none;
}

.main-btn-prev {
    left: calc(50% - 676px);
}

.main-btn-next {
    right: calc(50% - 676px);
}

.swiper-pagination-bullet {
    background-color: #3e3e3e;
}

/* #custom-control {
    margin-top: 20px;
} */

#root > div.h-screen.overflow-hidden > div.bg-prigray-100.w-full.h-87\/100 > div.w-full.h-full > div:nth-child(6) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#root > div.h-screen.overflow-hidden > div.bg-prigray-100.w-full.h-87\/100 > div.w-full.h-full > div:nth-child(4) > div:nth-child(2) {
    display: none !important;
}

@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }
}

@media (max-width: 767px) and (max-width: 1024px) {
    .web-only {
        display: none;
    }
}

@media (max-width: 768px) {
    .main-btn-prev,
    .main-btn-next {
        display: none;
    }
}